.contact {
  background: #f6f2ee;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 752px;
}

.contact__left {
  display: flex;
  position: relative;
}

.contact__right {
  display: flex;
  position: relative;
}

.image__contact_1 {
  width: 310px;
  height: 310px;
  position: absolute;
  top: 40px;
  left: 280px;
}

.image__contact_2 {
  width: 180px;
  height: 180px;
  position: absolute;
  top: 280px;
  left: 220px;
}

.image__contact_3 {
  width: 220px;
  height: 220px;
  position: absolute;
  top: 400px;
  left: 440px;
}

.image__contact_4 {
  width: 330px;
  height: 330px;
  top: 40px;
  left: 80px;
  position: absolute;
}

.image__contact_5 {
  width: 250px;
  height: 250px;
  position: absolute;
  top: 380px;
}

.contact__between {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__between p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  margin: 40px 0;
  width: 160px;
}

.contact__between h3 {
  font-family: Lora;
  font-size: 32px;
  font-weight: 400;
  line-height: 56px;
  text-align: center;
  margin: 20px 0;
}
.contact__tile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__body {
  width: 380px;
  display: flex;
  flex-direction: column;
}

.contact__btn {
  display: flex;
  justify-content: center;
}

.contact__btn button {
  padding: 9px 41px;
  border: 1px solid #d1ceca;
  background: #f6f2ee;
}

@media (max-width: 391px) {
  .contact {
    display: grid;
    grid-template-columns: 1fr;
  }

  .image__contact_1 {
    width: 110px;
    height: 110px;
    top: 20px;
    left: 110px;
  }

  .image__contact_2 {
    width: 110px;
    height: 110px;
    top: 100px;
    left: 10px;
  }

  .image__contact_3 {
    width: 110px;
    height: 110px;
    top: 100px;
    left: 270px;
  }
  .image__contact_4 {
    width: 110px;
    height: 110px;
    top: 10px;
    left: 40px;
  }
  .image__contact_5 {
    width: 110px;
    height: 110px;
    top: 10px;
    left: 260px;
  }
  .contact__btn button {
    padding: 6px 30px;
    border: 1px solid #d1ceca;
    background: #f6f2ee;
  }
  .contact__between p {
    margin: 20px 0;
    width: 100%;
  }
}
