.inspiration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inspiration__title {
  display: flex;
  justify-content: center;
  margin: 80px;
}

.inspiration__title h2 {
  font-family: Lora;
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 550px;
}

.inspiration__full {
  display: flex;
  align-items: center;
}

.inspiration__body {
  display: flex;
  justify-content: center;
  gap: 60px;
  align-items: center;
}

.inspiration__image {
  width: 291px;
}

.inspiration__item {
  width: 291px;
}
.inspiration__item h3 {
  font-family: Lora;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  text-align: left;
  margin: 10px 0;
}

.inspiration__item p {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

@media (min-width: 1441px) and (max-width: 1919px) {
  .inspiration__title {
    margin: 70px;
  }

  .inspiration__title h2 {
    font-size: 34px;
    width: 500px;
  }
  .inspiration__body {
    gap: 40px;
  }

  .inspiration__image {
    width: 280px;
  }

  .inspiration__item {
    width: 280px;
  }
  .inspiration__item h3 {
    font-size: 24px;
  }

  .inspiration__item p {
    font-size: 16px;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  .inspiration__title {
    margin: 60px;
  }
  .inspiration__title h2 {
    font-size: 32px;
    width: 480px;
  }
  .inspiration__body {
    gap: 20px;
  }
  .inspiration__image {
    width: 275px;
  }

  .inspiration__item {
    width: 275px;
  }
  .inspiration__item h3 {
    font-size: 22px;
  }

  .inspiration__item p {
    font-size: 14px;
  }
}
@media (min-width: 392px) and (max-width: 768px) {
  .inspiration__full {
    width: 100%;
    overflow: scroll;
  }
  .inspiration__title {
    margin: 50px;
  }
  .inspiration__title h2 {
    font-size: 30px;
    width: 460px;
  }
  .inspiration__body {
    gap: 20px;
  }
  .inspiration__image {
    width: 270px;
  }

  .inspiration__item {
    width: 270px;
  }
  .inspiration__item h3 {
    font-size: 20px;
  }

  .inspiration__item p {
    font-size: 14px;
  }
}
@media (max-width: 391px) {
  .inspiration__full {
    width: 100%;
    overflow: scroll;
  }

  .inspiration__title {
    width: 312px;
    height: 116px;
    gap: 0px;
    opacity: 0px;
  }

  .inspiration__title h2 {
    font-family: Lora;
    font-size: 28px;
    line-height: 38.4px;
  }
  .inspiration__body {
    gap: 20px;
  }
  .inspiration__image {
    max-width: 265px;
  }

  .inspiration__item {
    max-width: 265px;
  }

  .inspiration__item h3 {
    font-size: 20px;
  }

  .inspiration__item p {
    font-size: 14px;
  }
}
