.slider__title {
  display: flex;
  justify-content: center;
  margin: 50px;
}

.slider__title h1 {
  font-family: "Lora";
  font-size: 36px;
  font-weight: 400;
  line-height: 48px;
  text-align: center;
}

.slider__list {
  display: flex;
  justify-content: center;
  width: 1420px;
}

.slider {
  display: flex;
  justify-content: center;
}

@media (min-width: 1441px) and (max-width: 1919px) {
  .slider__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 34px;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  .slider__title h1 {
    font-size: 32px;
    font-weight: 400;
    line-height: 38.4px;
    text-align: center;
  }
  .slider__list {
    width: 1100px;
  }
}
@media (min-width: 392px) and (max-width: 768px) {
  .slider__title h1 {
    font-size: 30px;
    font-weight: 400;
    line-height: 38.4px;
    text-align: center;
  }
  .slider__list {
    width: 100%;
    overflow: scroll;
  }
}

@media (max-width: 391px) {
  .slider__title h1 {
    font-size: 28px;
    font-weight: 400;
    line-height: 38.4px;
    text-align: center;
  }
  .image__slide {
    width: 345px;
    height: 460px;
  }
  .slider__list {
    width: 100%;
    overflow: scroll;
  }
}
