@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.product__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 250px;
}

.none {
  display: none;
}

.product__menu-left {
  margin-top: 60px;
  margin-bottom: 40px;
}

.product__menu-left h1 {
  font-size: 36px;
  font-family: "Lora";
  font-weight: 400;
  line-height: 48px;
  margin-left: 4px;
}

.product__menu-right {
  display: flex;
  gap: 40px;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-right: 3px;
}

.product__menu--title {
  cursor: pointer;
  font-weight: bold;
  color: black;
}

.category__title.selected {
  border-bottom: 2px solid #000;
}

.product__gird--list {
  display: flex;
  justify-content: center;
}

.product__gird {
  margin: 0 250px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.productions:first-child {
  grid-column-start: 1;
  grid-column-end: 3;
}
.productions__gird__first {
  grid-column-start: 1;
  grid-column-end: 3;
}
.productions__gird__last {
  grid-column-start: 3;
  grid-column-end: 5;
}

.productions {
  position: relative;
  margin-bottom: 12px;
}

.product__price__all {
  display: flex;
  gap: 10px;
}

.product__price__new {
  color: red;
}

.product__price__old {
  text-decoration: line-through;
}

.voucher {
  position: absolute;
  top: 12px;
  left: 12px;
  color: white;
  font-size: small;
}

.voucher__sell {
  background: black;
  padding: 3px 12px;
  margin-bottom: 4px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}
.voucher__new {
  background: #054e4a;
  display: inline;
  padding: 4px 10px;
  margin-top: 4px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}
.product__voucher {
  position: absolute;
  top: 8px;
  background: #a42003;
  display: inline;
  padding: 10px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
}

.product__image {
  width: 100%;
  height: 81%;
  object-fit: cover;
}

.category {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-top: 10px;
}
.product__name {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 25.88px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 5px 0;
}

.product__price,
.product__price__new,
.product__price__old {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.5px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.product__name {
  font-weight: 500;
}
@media (min-width: 1441px) and (max-width: 1919px) {
  .product__title {
    margin: 0 150px;
  }
  .product__menu-left h1 {
    font-size: 32px;
    line-height: 44px;
  }
  .product__menu-right {
    gap: 24px;
    font-weight: 500;
    font-size: 16px;
  }
  .product__gird {
    margin: 0 150px;
  }
  .product__menu--title {
    font-size: 14px;
  }
  .product__image {
    width: 100%;
    height: 81%;
    object-fit: cover;
  }
}

@media (min-width: 769px) and (max-width: 1440px) {
  .product__title {
    margin: 0 50px;
  }

  .product__menu-left h1 {
    font-size: 30px;
    line-height: 44px;
  }
  .product__menu-right {
    gap: 24px;
    font-weight: 500;
    font-size: 16px;
  }
  .product__gird {
    margin: 0 50px;
  }

  .product__menu--title {
    font-size: 14px;
  }
}
@media (min-width: 392px) and (max-width: 768px) {
  .product__title__all {
    display: flex;
    justify-content: center;
  }
  .product__title {
    display: grid;
    margin: 0;
  }
  .product__menu-left {
    margin: 0;
  }
  .product__gird {
    margin: 10px;
  }
  .product__image {
    width: 100%;
  }
  .product__menu-left h1 {
    text-align: center;
    align-items: center;
    font-size: 30px;
    line-height: 42px;
  }
  .product__menu-right {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    margin: 20px;
  }
  .product__menu--title:last-child {
    display: none;
  }
  .product__gird {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .productions:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .productions__gird__first {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .productions__gird__last {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .product__price,
  .product__price__new,
  .product__price__old {
    font-size: 12px;
  }
  .product__menu--title {
    font-size: 12px;
  }
}

@media (max-width: 391px) {
  .productions {
    margin: 15px;
  }
  .product__title__all {
    display: flex;
    justify-content: center;
  }
  .product__title {
    display: grid;
  }
  .product__menu-left {
    margin: 0;
  }

  .product__title {
    display: grid;
    margin: 0;
  }
  .product__gird {
    margin: 2px;
  }

  .product__image {
    width: 100%;
    height: 68%;
    object-fit: cover;
  }

  .product__menu-left h1 {
    text-align: center;
    align-items: center;
    margin: 6px;
    font-size: 28px;
    line-height: 40px;
  }

  .product__menu-right {
    margin: 25px;
    gap: 24px;
  }

  .product__menu--title {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  }
  .product__menu--title:last-child {
    display: none;
  }

  .product__gird {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px;
    margin: 0;
  }

  .productions:first-child {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .productions__gird__first {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  .productions__gird__last {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .voucher__new,
  .voucher__sell,
  .product__voucher {
    margin: 4px;
    font-size: 15px;
    padding: 2px;
  }

  .product__price,
  .product__price__new,
  .product__price__old {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
  }

  .category {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
  }
  .product__name {
  }
  .product__price {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
  }
}
