.wrapper__block {
  display: flex;
  justify-content: center;
  gap: 70px;
  margin: 20px;
  font-family: "Poppins";
}
.wrapper__image,
.wrapper__title {
  width: 420px;
  height: 560px;
}

.wrapper__image img {
  width: 420px;
  height: 560px;
}

.wrapper__title {
  background: #6e331a;
  display: grid;
  color: #ffffff;
  grid-template-rows: 1fr 5fr;
}

.title__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title__body h1 {
  width: 240px;
  height: 160px;
  font-family: Lora;
  font-size: 56px;
  font-weight: 400;
  line-height: 80px;
  text-align: center;
  margin: 20px;
}

.title__body p {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  width: 240px;
}
@media (min-width: 1441px) and (max-width: 1919px) {
  .wrapper__block {
    gap: 40px;
    margin: 20px;
  }
  .wrapper__image,
  .wrapper__title {
    width: 400px;
    height: 533px;
  }

  .wrapper__image img {
    width: 100%;
    height: 533px;
  }
}
@media (min-width: 769px) and (max-width: 1440px) {
  .wrapper__block {
    gap: 30px;
    margin: 20px;
  }
  .wrapper__image,
  .wrapper__title {
    width: 390px;
    height: 533px;
  }

  .wrapper__image img {
    width: 100%;
    height: 533px;
  }
}
@media (min-width: 392px) and (max-width: 768px) {
  .wrapper__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .wrapper__image img {
    width: 100%;
  }
}

@media (max-width: 391px) {
  .wrapper__block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }
  .wrapper__image,
  .wrapper__title {
    height: 480px;
    width: 360px;
  }

  .wrapper__image img {
    width: 360px;
    height: 480px;
  }
}
